<a href="https://colab.research.google.com/github/SimonThoabaladev/7-Se/blob/main/3_ex_0103a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Added to the existing codes

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3, 4, 5])		# A one dimensional NumPy array.

In [ ]:
a[:2]							# From the index 0 up to the index 1 (excluding 2).

array([1, 2])

In [ ]:
a[-1]

5

In [ ]:
a[:]

array([1, 2, 3, 4, 5])

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])	# This is a 3 x 3 two dimensional array (matrix).

In [ ]:
a[1]				# The row 1.

array([4, 5, 6])

In [ ]:
a[-1]				# The last row.

array([7, 8, 9])

In [ ]:
a[:]				# The whole array (matrix).

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
a[:2]				# From the row 0 to the row 1 (excluding the row 2).

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
a[2][1]			# The element from the row 2 and the column 1.

8

In [ ]:
a[2, 1]			# The same as above.

8

In [ ]:
a[[0, 2]]			# The rows 0 and 2.

array([[1, 2, 3],
       [7, 8, 9]])

In [ ]:
a[1:, 1:]			# From the row 1 to the end. From the column 1 to the end.

array([[5, 6],
       [8, 9]])

Fancy indexing

In [ ]:
arr = np.arange(100)		# A sequence from 0 to 99.

In [ ]:
arrMask = ((arr % 5) == 0) 		# A Boolean array. True if multiple of 5, else False.

In [ ]:
arr[arrMask]			# Apply fancy indexing.

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [ ]:
arrMask = ( ( (arr % 5) == 0 )  & ( arr >0) )	# A Boolean array. True if multiple of 5 or 0, else False.

In [ ]:
arr[arrMask]			# Apply fancy indexing.

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
       90, 95])

Boolean Indexing

In [ ]:
test_a = np.array([1,4,0,2,3,8,9,7])

In [ ]:
test_a

array([1, 4, 0, 2, 3, 8, 9, 7])

In [ ]:
#The boolean value for whether the value is greater or less than 3 among each element in test_a.

In [ ]:
test_a > 3

array([False,  True, False, False, False,  True,  True,  True])

In [ ]:
test_a[test_a>3]

array([4, 8, 9, 7])